body {
	font-family: "Lato", sans-serif;
	font-size:20px;
	margin:0;
	min-width: 373px;
}

header{

	height: 500px;
	padding: 45px 0;
	background-color: #227C9D;

	
}


span{
	color:#CDF7F6;
	font-size:2em;
}
#logo{
	float: left;
}

.nav_container{
	margin: auto;
	width:50%;
	max-height: 300px;
}

nav ul{
	list-style:none;
	overflow:hidden;
	padding:0;
	margin:auto;
}
nav li{
	padding: 5px;
	font-size:1.5em;
	float:left;

}

.active{
	background: #cccccc;

}

nav a{
	display:block;
	text-decoration:none;
	border: 2px solid #CDF7F6;
	color:#000;
	padding:8px;

}

nav a:hover { 
	background-color:#BBE1B3;

}

main{
	background-color: #CDF7F6;
}
.sections{
 
  padding: 45px 0;
  width:50%;
  margin:auto;
  background-color:white;
}

.sections ul {
	width:50%;
}


.container{
	width: 50%;
	margin:0 auto;
	border: 5px solid white;
}

footer {
	padding: 45px 0 ;
	text-align: center;
	background-color: #7F857F;
}
